/* 
=======================
Global Variables
=======================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root {
  --ff-title: "Grandstander", cursive;
}
.details {
  display: none;
}
/* 
=======================
Header
=======================
*/
nav {
  display: none;
}
.banner {
  background: url(/images/background.jpeg) center/cover no-repeat fixed;
  width: 100vw;
  height: 90vh;
}
.brand-container {
  position: absolute;
  top: 25%;
  left: 35%;
}
.brand {
  font-family: var(--ff-title);
  color: rgb(235, 235, 235);
}
.content-divider {
  width: 100vw;
  height: 10px;
  background: linear-gradient(
    to right,
    rgb(79, 97, 46),
    rgb(78, 66, 34),
    rgb(79, 97, 46)
  );
}
/* 
=======================
Products
=======================
*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products-title {
  text-align: center;
  padding: 2.5rem 0;
  font-family: var(--ff-title);
}
 .product-card {
  padding: 1.5rem;
  text-align: center;
  width: 350px;
}
.product-title {
  font-family: var(--ff-title);
}
.product-img {
  padding: 0.75rem 0;
}

.product-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  line-height: 1.25rem;
  width: 25vw;
  min-width: 300px;
  text-indent: 1.5rem;
  text-align: left;
}
.last-paragraph {
  margin-bottom: 3.5rem;
} 


/* 
=======================
Footer
=======================
*/
.copyright {
  display: inline-block;
  margin: 3.5rem 0 1rem 0;
}
.copyright-container {
  text-align: center;
  color: rgb(235, 235, 235);
  background: rgb(35, 35, 35);
  padding-bottom: 1rem;
}
a {
  color: royalblue;
}
